@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$principal-font: 'Noto Sans', sans-serif;
$color-principal: #424242;
$color-secondary: #f4f7fa;
$color-terciary: #FF5059;
$color-fourth: #93A1B0;
$color-fifth: #ffffff;
$color-sixth:  #c0cddb;
