@import "./../../styles/shared.scss";

.product-detail {
  background-color: $color-fifth;
  margin: 7px;
  border-radius: 5px;
  cursor: pointer;

  &:hover .product-detail__image {
    opacity: 0.2;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }

  &:hover .product-detail__button {
    opacity: 1;
  }

  &__ranking {
    position: absolute;
    transform: translate(10px, 8px);
    font-size: 11px;
    max-width: 18px;
    padding: 4px;
    border: 1px solid $color-sixth;
    border-radius: 20%;
    background-color: $color-sixth;
    color: $color-fifth;
    text-align: center;
  }

  &__button {
    position: absolute;
    transform: translate(75px, 150px);
    text-align: center;
    font-size: 14px;
    color: $color-sixth;
    border: 2px solid $color-sixth;
    background: transparent;
    border-radius: 20px;
    padding: 8px;
    opacity: 0;
  }

  &__image {
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-bottom: 10px;
  }

  &__code {
    font-size: 11px;
    color: $color-fourth;
    padding-left: 10px;
  }

  &__name {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  &__price {
    color: $color-fourth;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  &__coverage {
    text-align: end;
    font-size: 12px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 30px;

    &--good {
      color: #4DD113;
    }

    &--low {
      color: #D11313;
    }

    &-text {
      color: $color-sixth;
      text-transform: uppercase;
    }
  }
}
